{% extends '/components/table_base.html' %}

{% block table_name%}
My server
{% endblock table_name%}

{% block table_body %}
  </tr>
    <tbody>
        
            {% for server in my_servers %}
            <tr>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">{{loop.index}}</p>
            </td>

            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">{{server.server_name}}</p>
            </td>

            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">{{server.to_relative_time()}} </p>
            </td>

            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">{{server.description}}</p>
            </td>

            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">{{server.server_deployer}}</p>
            </td>

            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <a
                    class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight"
                    href="http://{{server.server_name}}.ginger-macaron.world">
                    <span aria-hidden
                        class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                    <span class="relative">{{server.game_server_tag}}</span>
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
            </td>

            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <a
                    class="relative inline-block px-3 py-1 font-semibold text-orange-900 leading-tight"
                    href="http://{{server.server_name}}-db.ginger-macaron.world"
                >
                    <span aria-hidden
                        class="absolute inset-0 bg-orange-200 opacity-50 rounded-full"></span>
                    <span class="relative">{{server.macaron_tag}}</span>
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
            </td>

            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm" id="status-{{ server.server_name }}">

            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">
                    <button id="delete-{{server.server_name}}" delete-button-for="{{server.server_name}}" class="w-full bg-red-400 font-semibold py-2 rounded-lg shadow-sm hover:bg-red-500 flex items-center justify-center disabled:opacity-50"
                    onclick="deleteServer(this)" disabled
                    >
                        Delete
                    </button>
                </p>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
<script>
document.addEventListener("DOMContentLoaded", function() {
    {% for server in my_servers %}
        updateStatus("{{server.server_name}}")
    {% endfor %}
})
</script>
{% endblock %}